body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    background-image: url('../public/background.png') !important;
    color: #1a3e70 !important;
}

header {
    height: 120px !important;
    border-radius: 0 0 20px 20px !important;
    margin-bottom: 20px !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

footer {
    height: 120px !important;
    border-radius: 20px 20px 0 0 !important;
    margin-bottom: 0 !important;
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}

footer img,
header img {
    height: 130px !important;
    margin: 0 !important;
}

.bgColorFooterHeaderNav {
    background-color: #C1D4EF !important;
}

.formContainer {
    background-color: white !important;
    padding: 2rem !important;
    border-radius: 1rem !important;
    width: 100% !important;
    max-width: 500px !important;
    margin: 50px auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
}
.formContainer form {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
}

h1 {
    font-size: 25px !important;
    font-weight: bold !important;
    margin: 5px 0;
    text-align: center !important;
    width: 100% !important;
}

.formContainer form label {
    margin: 5px 0;

}

.formContainer form input {
    width: 100% !important;
    padding: 0.5rem !important;
    margin: 0 0 15px 0 !important;
}

.formContainer form a {
    text-decoration: none !important;
    font-size: 0.75rem !important;
    margin: 5px 0;
    color: #1a3e70 !important;
}

.formContainer form a:hover {
    color: blue !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.formContainer form button {
    width: 100% !important;
    background-color: azure !important;
    color: #307BBF !important;
    padding: 0.75rem !important;
    border: none !important;
    border-radius: 0.5rem !important;
    cursor: pointer !important;
    font-weight: bolder !important;
    border: #307BBF solid 2px !important;
    margin-top: 10px !important;
}

.formContainer form button:hover {
    transition: 0.3s !important;
    background: linear-gradient(135deg, #307BBF, #87bee9) !important;
    color: white !important;
    border: #307abf00 solid 2px !important;
}

.errorMessage {
    color: red !important;
    margin: auto !important;
    text-align: center !important;
    font-weight: bold !important;
}

successMessage{
    color: rgb(0, 161, 0) !important;
    margin: auto !important;
    text-align: center !important;
    font-weight: bold !important;
}